/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/.DS_Store
resources/.DS_Store
.env.example
.DS_Store
.env.example
.env.example
public/8th-floor.json
public/10th-floor.json
public/6th-floor.json
public/7th-floor.json
public/9th-floor.json
public/ground-floor.json
